.prime_container{
    background-color: blueviolet;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.prime_header {
    color:white;
}

.prime_component_column {
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: center;
    border:1px solid white;
    border-radius: 10px;
    width: 90vw;
    height:100vh;

}
 .prime_component_row {
     display: flex;
     flex-direction: row;
 }

.prime_button{
    margin: 10px;
}
